<!-- <article class="example">
  <h1>Табы</h1>
</article> -->
<div class="tabs" id="tabs-1">
  <div class="controls" data-controls>
    <a href="#apple" class="controls__item">🍎 Яблоко</a>
    <a href="#grapes" class="controls__item">🍇 Виноград</a>
    <a href="#peach" class="controls__item">🍑 Персик</a>
  </div>

  <div class="panes" data-panes>
    <div class="pane" id="apple">
      <h2 class="pane__fruit">🍎</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia at nemo dicta sed
        accusantium laborum reprehenderit tempora tempore quas voluptatem, ullam delectus incidunt
        reiciendis quam quis, alias, suscipit eveniet dolorem.
      </p>
    </div>

    <div class="pane" id="grapes">
      <h2 class="pane__fruit">🍇</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque alias voluptas?
        Asperiores, sint quas aliquid ex cumque labore, possimus, pariatur modi adipisci explicabo
        cupiditate mollitia? Numquam voluptatum possimus sed pariatur similique, id minima vitae
        excepturi veritatis, dolore fugit perferendis, reprehenderit debitis repudiandae culpa
        soluta! Ipsa, provident. Culpa, odio dolor?
      </p>
    </div>

    <div class="pane" id="peach">
      <h2 class="pane__fruit">🍑</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque alias voluptas?
        Asperiores, sint quas aliquid ex cumque labore, possimus, pariatur modi adipisci explicabo
        cupiditate mollitia? Numquam voluptatum possimus sed pariatur similique, id minima vitae
        excepturi veritatis, dolore fugit perferendis, reprehenderit debitis repudiandae culpa
        soluta! Ipsa, provident. Culpa, odio dolor?
      </p>
    </div>
  </div>
</div>
<div class="tabs" id="tabs-2">
  <div class="controls" data-controls>
    <a href="#pig" class="controls__item">🐷 Свинка</a>
    <a href="#robot" class="controls__item">🤖 Робот</a>
    <a href="#facepalm" class="controls__item">🤦‍♀️ Рукалицо</a>
  </div>

  <div class="panes" data-panes>
    <div class="pane" id="pig">
      <h2 class="pane__fruit">🐷</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis exercitationem quas
        rerum maxime libero aut molestiae assumenda, odit explicabo quo ex nulla voluptate minima
        eveniet velit ullam itaque iure ipsa dolores, iusto tempora et! Mollitia sunt necessitatibus
        nostrum placeat voluptatibus consequuntur inventore sed incidunt eius nesciunt modi.
      </p>
    </div>

    <div class="pane" id="robot">
      <h2 class="pane__fruit">🤖</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis exercitationem quas
        rerum maxime libero aut molestiae assumenda, odit explicabo quo ex nulla voluptate minima
        eveniet velit ullam itaque iure ipsa dolores, iusto tempora et! Mollitia sunt necessitatibus
        nostrum placeat voluptatibus consequuntur inventore sed incidunt eius nesciunt modi.
      </p>
    </div>

    <div class="pane" id="facepalm">
      <h2 class="pane__fruit">🤦‍♀️</h2>
      <p class="pane__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, debitis exercitationem quas
        rerum maxime libero aut molestiae assumenda, odit explicabo quo ex nulla voluptate minima
        eveniet velit ullam itaque iure ipsa dolores, iusto tempora et! Mollitia sunt necessitatibus
        nostrum placeat voluptatibus consequuntur inventore sed incidunt eius nesciunt modi.
      </p>
    </div>
  </div>
</div>
